html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://cdn.dribbble.com/users/1237300/screenshots/6478927/__-1_1_____.gif");
    background-size: cover;
    filter: blur(8px);
    background-position-y: 50%;
    background-position-x: 50%;
}

.player {
    background-color: rgba(8, 73, 21, 0.486);
    position: absolute;
    transform: translate(-100%);
    top: 50%;
    left: 45%;
    height: 350px;
    width: 400px;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 4px 10px 10px;
    transition: box-shadow 0.3s ease;
}

.player:hover {
    box-shadow: 0 0 20px rgba(255, 0, 204, 0.7);
}

.row1 {
    height: 40%;
    width: 100%;
    background-image: url("https://cdn.dribbble.com/users/1237300/screenshots/6478927/__-1_1_____.gif");
    background-size: cover;
    background-position-y: 45%;
}

.songTitle {
    width: 100%;
    height: 10%;
    text-align: center;
    font-family: monospace;
    font-size: 18px;
    color: rgb(0, 249, 0);
    margin-top: 4px;
    transition: color 0.3s ease;
    position: relative;
    overflow: hidden;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    animation: shadowAnimation 2s infinite alternate, pulse 1s infinite alternate, neonGlow 1.5s ease-in-out infinite alternate;
}

.songTitle:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
    color: #563cff;
}

.row2 {
    width: 100%;
    height: 50%;
    background-color: rgba(21, 146, 46, 0.48);
    transition: background-color 0.3s ease;
}

.row2:hover {
    background-color: rgba(21, 146, 46, 0.7);
}

.play {
    height: 20%;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

#pre {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin-top: 20px;
}

#pre:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

#play {
    height: 35px;
    width: 35px;
    background-size: cover;
    margin-top: 20px;
}

#play:active {
    transform: rotate(90deg);
}

#play:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

#next {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin-top: 20px;
}

#next:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.seek-bar {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.handle {
    height: 5px;
    width: 80%;
    background: linear-gradient(to right, blue 30%, rgb(7, 142, 179) 70%);
    border-radius: 25px;
    transition: box-shadow 0.3s ease;
    display: inline-flex;
}

.handle:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 255, 0.5);
}

.fill {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: lightblue;
    z-index: 999;
    margin-top: -2px;
    margin-left: -2px;
}

.mute {
    height: 40%;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.currentTime {
    width: 50%;
    height: 100%;
    margin-left: 35px;
    margin-top: -25px;
    color: aqua;
}

.muteButtons {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
}

#decrease {
    height: 22px;
    width: 22px;
    background-size: cover;
    margin: 5px;
}

#mute {
    height: 30px;
    width: 30px;
    background-size: cover;
    margin: 5px;
}

#increase {
    height: 25px;
    width: 25px;
    background-size: cover;
    margin: 5px;
}
.speed-control {
    display: flex;
    width: 200px;
    margin-right: 20px;
}
.control {
    color: rgb(0, 249, 0);
    animation: neonGlow 1.5s infinite alternate;
    margin-right: 10px;
    font-size: 17px;
}
#speed {
    color: white;
    background-color: black;
}
#speed:hover {
    box-shadow: 0 0 20px rgb(66, 0, 246);
}

.playlist {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    color: white;
    width: 400px;
    position: absolute;
    transform: translate(50%);
    top: 45%;
    left: 45%;
    overflow: hidden;
}

.playlist:hover {
    box-shadow: 0 0 20px rgba(255, 0, 204, 0.7);
}

.playlist h2 {
    text-align: center;
    color: rgb(0, 249, 0);
    animation: pulse 1s infinite alternate, neonGlow 1.5s ease-in-out infinite alternate;
}

.playlist ul {
    list-style-type: none;
    padding: 0;
}

.playlist ul li {
    padding: 5px;
    cursor: pointer;
}

.playlist ul li:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.playlist input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 5px;
}

.playlist button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    animation: neonGlow 1.5s ease-in-out infinite alternate;
}

.playlist button:hover {
    background-color: #45a049;
    color: #563cff;
}
















@keyframes neonGlow {
    0% {
        text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
    }

    100% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5), 0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5), 0 0 25px #ff00cc, 0 0 35px #ff00cc, 0 0 40px #ff00cc, 0 0 50px #ff00cc;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes shadowAnimation {
    0% {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    100% {
        text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    }
}